.header-1{
    padding-top: 5%;
    padding-bottom: 3%;
}
.header-welcome-sm-para{
    color: rgb(97, 108, 119);
}
.header-welcome-heading{
    color: rgb(165, 212, 10);}
.section-4{
    background-image: url();
    background-size: contain;
}
.footer-last{
    font-size: 10px;
}
.footer-first{
    font-size: 13px;
}